body {
	background-color: white;
	color: black;
	font-size: 16px;
	font-family: "Helvetica", Verdana, Arial, Helvetica, sans-serif;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 100px;
	width: 960px;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	font-size: 14px;
}

tr {
	height: 90px;
}
.empty {
	background-color: #999999;
}